<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <businessLogicFactory>
      <dedicatedServersService type="Sitecore.Support.Modules.EmailCampaign.Core.Services.DedicatedServersService, Sitecore.Support.172604" singleInstance="true" />
    </businessLogicFactory>
  </sitecore>
</configuration>